<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="keywords" content= "<%= @seo_keywords %>" />
    <%= stylesheet_link_tag    'blogs', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<%= render "shared/blog_nav" %>
<div class="">
    <div class="container">
        <h1 class="blog-title"></h1>
        <p class="lead blog-description"></p>
    </div>
</div>
<div class="container">
    <div class="row">
    <%= yield %>
    <!-- start of side bar -->
    <%= render 'shared/sidebar' %>
    <!--end of side bar -->
    </div>
    <!--start of footer -->
    <footer class="blog-footer">
        <div class="text-center">
            <%= copyright_generator %>    
        </div>
        <p>
            <a href="#">Back to top</a>
        </p>
  
    </footer>
   <!--end of footer -->
    <%= source_helper("blog") %>
    
</div>
 

  </body>
</html>


